apiVersion: apps/v1
kind: Deployment
metadata:
  name: contact-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: contact
  template:
    metadata:
      labels:
        app: contact
    spec:
      containers:
        - name: contact
          image: chatonode/contact
          env:
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY
            # NATS
            - name: NATS_CLUSTER_ID
              value: zombilet
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name  # Pod Name
            - name: NATS_URL
              value: 'http://nats-streaming-srv:4222'
            # Sendgrid
            - name: SENDGRID_KEY
              valueFrom:
                secretKeyRef:
                  name: sendgrid-secret
                  key: SENDGRID_KEY
            - name: SENDGRID_EMAIL
              valueFrom:
                secretKeyRef:
                  name: sendgrid-email
                  key: SENDGRID_EMAIL

---
apiVersion: v1
kind: Service
metadata:
  name: contact-srv
spec:
  selector:
    app: contact
  ports:
    - name: contact
      protocol: TCP
      port: 3000
      targetPort: 3000
